div.grass-field {
  width: 384px;
  height: 384px;
  background-image: url("https://cdn.bulbagarden.net/upload/3/33/RSE_Grass.png");
  background-repeat: repeat;
  background-size: 64px 64px;
  image-rendering: pixelated;
}

div.random-pokemon img.pokemon-sprite {
  width: 384px;
  height: 384px;
  image-rendering: pixelated;
}

div.party-pokemon-info {
  width: 192px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
}

div.party-pokemon-info img.pokemon-sprite {
  width: 192px;
  height: 192px;
  image-rendering: pixelated;
}

img.pokeball {
  width: 80px;
  height: 80px;
  padding: 152px;
  image-rendering: pixelated;
}

.invisible {
  display: none;
}
